<!DOCTYPE html>
<html lang="en" >
<head>

  <link rel="stylesheet" href="stylesheets/style.css">
  <script  src="./script.js"></script>

  <meta charset="UTF-8">
  <title>Classic Login Form Example</title>
  <link href="https://fonts.googleapis.com/css?family=Assistant:400,700" rel="stylesheet"><link rel="stylesheet" href="./style.css">

</head>
<body>

<!-- partial:index.partial.html -->
<form action="dashboard" method="post">

  <section class="vh-500">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-200">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
            class="img-fluid" alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <form>

            <p class="text-center fw-bold mx-3 mb-0">Or</p>
        </div>

        <!-- Email input -->
        <div class="form-outline mb-4">
          <input type="email" id="form3Example3" name="uname" class="form-control form-control-lg"
            placeholder="Enter User Name " />
          <label class="form-label" for="form3Example3">User Name</label>
        </div>

        <!-- Password input -->
        <div class="form-outline mb-3">
          <input type="password" id="form3Example4" name="password" class="form-control form-control-lg"
            placeholder="Enter password" />
          <label class="form-label" for="form3Example4">Password</label>
        </div>



        <div class="text-center text-lg-start mt-4 pt-2">

          <button type="submit" class="btn btn-primary btn-lg"
            style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>

        </div>

</form>
 
<footer>
</footer>
<!-- partial -->
  <script  src="./script.js"></script>

</body>
</html>
